.loginsignup{
    width: 100%;
    height: 80vh;
    background-color: white;
    padding-top: 100px;

}
.loginsignup-container{
    width: 500px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.loginsignup-container p{
    margin: 20px 0px;

}
.loginsignup-field{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.loginsignup-field input{
    height: 70px;
    width: 100%;
    padding-left: 1px solid   #c9c9c9  ;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
        font-weight: 500;
        cursor: pointer;

}
.loginsignup-login{
    margin: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;

}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    

}