.shopcategory-banner{
    display: block;
    margin: 30px;
    width:  82%;
    margin: auto;

}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px;
    border-radius: 40px;
    border:1px solid #888;

}
.shopcategory-indexSort p span{
 font-weight: 600;


}
.shopcategory-products{
    margin-bottom: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    /* 
     */
     /* padding: 30px; */
     /* margin-top: 50px; */
     /* margin: auto;
      */
      padding-right: 20px;  
padding-left: 76px;

}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 200px; */
    width: 200px;
    height: 60px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 100px;

}
